@font-face {
  font-family: 'theSerifItalic';
  src: url(../fonts/TheSerif_B4_Italic.eot),
     url(../fonts/TheSerif_B4_Italic.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'theSerif';
  src: url(../fonts/TheSerif_B4_Plain_.eot),
     url(../fonts/TheSerif_B4_Plain_.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'theSerif';
  src: url(../fonts/TheSerif_B4_Bold_.eot),
     url(../fonts/TheSerif_B4_Bold_.woff) format("woff");
  font-weight: 800;
  font-style: normal;
}

body {
  height: 100%;
  width: 100%;
  overflow: none;

  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

h1 {
  font-family: 'theSerif', sans-serif;
  font-weight: 400;
  color:#2B4A90;
}

h2 {
  font-family: 'theSerif', sans-serif;
  font-weight: 400;
  font-size: 1.4em;
  color:white;
}


canvas {
}

#main {
  overflow:none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;

  background: #f3f3f3;
  /*
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(224,224,224,1) 100%);
  */
}

#welcome, #error {
  position: absolute;
  width: 500px;
  height: 128px;
  text-align: center;
  top: 50%;
  left: 50%;
  margin-left: -250px;
  margin-top: -62px;
  display: none;
}

#p5 {
  position:absolute;
  left: 20px;
  bottom: 10px;
}

#p5 a{
  font-family: 'theSerif', sans-serif;
  font-size: 2.5em;
  font-weight: 400;
  color: black;
  opacity: .15;
}



#pause {
  position:absolute;
  right: 20px;
  bottom: 10px;
  cursor: pointer;
  z-index: 1000;
  display: none;
}

#pause span{
  font-size: 2.5em;
  font-weight: 400;
  color: black;
  opacity: .15;
}


#p5 a:hover, #pause span:hover {
  text-decoration: none;
  opacity: 1;
  color:#2B4A90;
}

#label {
  position: absolute;
  z-index: 1000; 

  font-family: 'theSerif', sans-serif;
  font-size: 2.25em;
  font-weight: 400;
  color:#2B4A90; 
  display: none;
}

#label.pause {
  right: 148px;
  bottom: 130px;   
}

#label.lauren {
  top: 100%;
  left: 50%;
  margin-top: -625px;
  margin-left: -400px;
}

#label.shiffman {
  top: 100%;
  left: 50%;
  margin-top: -685px;
  margin-left: -400px;
}

#arrow {
  position: absolute;
  z-index: 1000;
  width: 128px;
  height: 128px;
  background-image: url('../assets/arrow.png');
  display: none;
}

#arrow.pause {
  right: 60px;
  bottom: 12px;  
}

#arrow.lauren {
  top: 100%;
  left: 50%;
  margin-top: -580px;
  margin-left: -280px;
}

#arrow.shiffman {
  top: 100%;
  left: 50%;
  margin-top: -640px;
  margin-left: -320px;
}

#sketchCanvas {
  position: absolute;
}

#videoClip {
  position: absolute;
  display: none;
  pointer-events: none;
}

#videoCanvas {
  position: fixed;
  bottom: 0;
  left: 50%;
  margin-left: -480px;
  width: 960px;
  height: 720px;
  pointer-events: none;
  display:none;
}

#example {
  position: absolute;
  width: 980px;
  height: 500px;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -490px;
  background: #ccc;
  display:none;
  background: #369;
  z-index: 5000;
}

#exampleEditor {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 480px;
  height: 480px;
  background: #fff;
}

#exampleFrame {
  position: absolute;
  top: 10px;
  left: 490px;
  width: 480px;
  height: 480px;
  border: 0;
  overflow: hidden;
  background: #fff;
}

#exampleControls {
  position: absolute;
  right: 500px;
  bottom: 20px;
}

#exampleCode {
  display: none;
}

#cta {

  width: 512px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -256px;
  margin-top: -186px;
  background: #fefefe;
  display: none;
}

#ctaHeader {
  background: #428BCA;
  color: white;
  padding: 16px;
}

#ctaBody {
  padding: 16px;
}