html, body {
  height: 100%;
  overflow: none;
}

h1 {
  font-family: 'Roboto', sans-serif;
  color:#369;
  text-transform: uppercase;
}

canvas {
  z-index: 500;
}

#welcome {
  position: absolute;
  width: 500px;
  height: 128px;
  text-align: center;
  top: 50%;
  left: 50%;
  margin-left: -250px;
  margin-top: -62px;
  z-index: 5999;
}

#videoClip {
  position: absolute;
  display: none;
  pointer-events: none;
}

#videoCanvas {
  position: fixed;
  bottom: 0;
  left: 50%;
  margin-left: -640px;
  z-index: 999;
  width: 1280;
  height: 720;
  pointer-events: none;
  display:none;
}

#mainControls {
  position: fixed;
  left: 10px;
  bottom: 10px;
  width: 256px;
  z-index: 2999;
  display:none;
}

#example {
  position: absolute;
  width: 980px;
  height: 500px;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -490px;
  background: #ccc;
  z-index: 1999;
  display:none;
  background: #369;  
}

#exampleEditor { 
  position: absolute;
  top: 10px;
  left: 10px;
  width: 480px;
  height: 480px;
  background: #fff;
}

#exampleFrame {
  position: absolute;
  top: 10px;
  left: 490px;
  width: 480px;
  height: 480px;
  border: 0;
  overflow: hidden;
  background: #fff;
}

#exampleControls {
  position: absolute;
  right: 500px;
  bottom: 20px;
  z-index: 6999;  
}

#exampleCode {
  display: none;
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background: rgb(255,255,255);
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(187,187,187,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(187,187,187,1)));
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(187,187,187,1) 100%);
  background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(187,187,187,1) 100%);
  background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(187,187,187,1) 100%);
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(187,187,187,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#bbbbbb',GradientType=0 );
}