html, body {
	height: 100%;
	overflow: hidden;
}
.vignette {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 200px rgba(0,0,0,0.75) inset;
}

canvas {
	z-index: 500;
}

#videoClip {
	position: absolute;
	display: none;
	pointer-events: none;
}

#videoCanvas {
	position: fixed;
	bottom: 0;
	left: 50%;
	margin-left: -480px;
	z-index: 999;
	width: 1280;
	height: 720;
	pointer-events: none;
}
