body {
  font-family: sans-serif;
}

#weather {
  position: absolute;
  border-radius: 4px;
  background: rgba(45,123,182,.80);
  color: white;
  left: 0;
  bottom: 640px;
  display: none;
  width: 400px;
  left: 50%;
  margin-left: -200px;
  text-align: center;
  vertical-align: top;

}

#temperature {
    display: inline-block;
    font-size: 60px;
}

#wind {
  display: inline-block;
  text-align: left;
  margin-top: 14px;
  margin-left: 24px;
}

#speed, #gust {
  font-size: 14pt;
}

#gauge {
  width: 48px;
  height: 48px;
  display: inline-block;
  margin-left: 24px;
  background-image: url('wind.png');
  
}