  #notesContainer {
  	position: absolute;
  	top: 10px;
  	left: 0;
  	width: 100%;
  	text-align:center;
  }

  #notes {
  	display: inline-block;
  	color: rgb(45,123,182);
  	padding: 16px;
  	font-size: 2.5em;
  	text-align: center;
  	position:static;
  }